<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    function getCount() {
        var count = $('[data-id]').length
        $('.count p').text(count + ' elements');
    }

    $(document).submit(function () {

        $.ajax({
            url: '{{path("addTodo")}}',
            type: 'GET',
            data: {
                value: $('.addInput').val(),
                categorie: $("input[name=categorie]").val()
            },
            success: function (e) {
                if(e)
                {
                    e = JSON.parse(e);
                }
                $('<button type="button" data-id="' + e.id + '" data-category="' + e.categorie + '" data-status="' + e.isCompleted + '" class="list-group-item list-group-item-action todoList">' +
                    '<span class="btn notbtn  action" style="float: left;padding: 0 10px;height: 0"><i class="material-icons">highlight_off</i></span>'+
                    '<div class="p" style="float: left;">' + e.value + '</div>'+
                    '<div class="tool"> ' +
                    '<span class="save hide btn" style="float: right;padding: 0 1àpx;"><i class="material-icons">save</i></span> ' +
                    '<span class="btn edit action" style="float: right;padding: 0 10px;"> ' +
                    '<i class="material-icons">create</i> </span> ' +
                    '<span class="btn remove action" style="float: right;padding: 0 10px;"> ' +
                    '<i class="material-icons">clear</i> </span> ' +
                    '</div></button>').insertAfter($('.todoList').last());
                getCount();
            }
        })

        return false;
    })
    $(document).ready(function () {
        function filiter(el, value) {
            console.log(el)
            if( value == "default")
            $(el).fadeIn()
            else {
                $(el).each(function (i, n) {
                    if ($(n).attr('data-status') == value) {
                        $(n).fadeIn();
                    } else {
                        $(n).fadeOut()
                    }
                })
            }
        }
        $('.filiter').on('click', function () {
            console.log($(this).val())
            switch ($(this).attr('data').toLowerCase()){
                case '1' : filiter(".todoList", "1");break;
                case '0' : filiter(".todoList", "0");break;
                default: filiter('.todoList', 'default')
            }
        })

        $('body').on('click','.notbtn', function () {
            var that= $(this);
            if(confirm('Are you sure ?!')){
                $.ajax({
                    url: '{{ path("complete") }}',
                    type: 'get',
                    data:{
                        id: $(this).parent().attr('data-id')
                    },
                    async: true,
                    success: function () {
                        that.html('<i class="material-icons">check_circle_outline </i>')
                        that.parent().attr('data-status', '1')
                    }
                })
            }
        })

        $('body').on('click', '.edit', function () {
            var that= $(this);
            var parent = that.parent().parent();
            var text = parent.find('.p').text();
            var input = $('<input>',{
                value : text,
                style: 'width: 90%',
                dataid: parent.attr('data-id'),
                class: 'EditTodo'
            });
            parent.find('.p').hide();
            parent.append(input);
            parent.find('.save, .action').toggleClass('hide');
        });
        $('body').on('click', '.save', function () {
            var that= $(this);
            var parent = that.parent().parent();
                $.ajax({
                    url : '{{ path("update") }}',
                    type: 'get',
                    data: {
                        id: $('.EditTodo').attr('dataid'),
                        value : $('.EditTodo').val()
                    },
                    success: function (e) {
                        parent.find('.p').text($('.EditTodo').val()).show()
                        parent.find('.EditTodo').remove()
                        parent.find('.save, .action').toggleClass('hide');
                    }
                })
        }).text($('.EditToto').val())

            $('body').on('click', '.remove',function () {
            var that= $(this);
            if(confirm('Are you sure ?!')){
                $.ajax({
                    url: '{{ path("remove") }}',
                    type: 'get',
                    data:{
                        id: $(this).parent().parent().attr('data-id')
                    },
                    async: true,
                    success: function () {
                        that.parent().parent().fadeOut(1000, function () {
                            that.parent().parent().remove()
                            setTimeout(function(){ getCount () }, 500);
                        })

                    }
                })
            }
        })


        $('body').on('click', '.clear',function () {
            var that= $(this);
            if(confirm('Are you sure ?!')){
                var ids = [];
                    $('[data-status="1"]').each(function (i, n) {
                    ids.push($(n).attr('data-id'))
                });
                $.ajax({
                    url: '{{ path("clear") }}',
                    type: 'get',
                    data:{
                        id: ids
                    },
                    async: true,
                    success: function () {
                        $('[data-status="1"]').each(function (i, n) {
                           $(n).fadeOut('slow', function () {
                               $(n).remove()
                           })
                            setTimeout(function(){ getCount () }, 500);
                        });

                    }
                })
            }
        })
    })
</script>

</html>
