<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).submit(function () {


        $.ajax({
            url: '{{path("addTodo")}}',
            type: 'GET',
            data: {
                value: $('.addInput').val(),
                categorie: $("input[name=categorie]").val()
            },
            success: function (e) {
                //location.reload()
            }
        })

        return false;
    })
    $(document).ready(function () {
        function filiter(el, value) {
            console.log(el)
            if( value == "default")
            $(el).fadeIn()
            else {
                $(el).each(function (i, n) {
                    if ($(n).attr('data-status') == value) {
                        $(n).fadeIn();
                    } else {
                        $(n).fadeOut()
                    }
                })
            }
        }
        $('.filiter').on('change', function () {
            console.log($(this).val())
            switch ($(this).val().toLowerCase()){
                case 'complete' : filiter(".todoList", "1");break;
                case 'not complete' : filiter(".todoList", "0");break;
                default: filiter('.todoList', 'default')
            }
        })

        $('.notbtn').on('click', function () {
            var that= $(this);
            if(confirm('Are you sure ?!')){
                $.ajax({
                    url: '{{ path("complete") }}',
                    type: 'get',
                    data:{
                        id: $(this).parent().attr('data-id')
                    },
                    async: true,
                    success: function () {
                        that.text('Complete')
                        that.parent().attr('data-status', '1')
                    }
                })
            }
        })

        $('.edit').on('click', function () {
            var that= $(this);
            var parent = that.parent();
            var text = that.parent().find('.p').text();
            var input = $('<input>',{
                value : text,
                style: 'width: 90%',
                dataid: parent.attr('data-id'),
                class: 'EditTodo'
            });
            parent.find('.p').hide();
            parent.append(input);
            parent.find('.save, .action').toggleClass('hide');
        });
        $('.save').on('click', function () {
            var that= $(this);
            var parent = that.parent();
                $.ajax({
                    url : '{{ path("update") }}',
                    type: 'get',
                    data: {
                        id: $('.EditTodo').attr('dataid'),
                        value : $('.EditTodo').val()
                    },
                    success: function (e) {
                        parent.find('.p').text($('.EditTodo').val()).show()
                        parent.find('.EditTodo').remove()
                        parent.find('.save, .action').toggleClass('hide');
                    }
                })
        }).text($('.EditToto').val())

            $('.remove').on('click', function () {
            var that= $(this);
            if(confirm('Are you sure ?!')){
                $.ajax({
                    url: '{{ path("remove") }}',
                    type: 'get',
                    data:{
                        id: $(this).parent().attr('data-id')
                    },
                    async: true,
                    success: function () {
                        that.parent().fadeOut(1000, function () {
                            that.parent().delete()
                          })

                    }
                })
            }
        })
    })
</script>

</html>
